<h1>Login</h1>
<?= $this->Form->create() ?>
<?= $this->Form->control('email') ?>
<?= $this->Form->control('password') ?>
<?= $this->Form->button('Login') ?>
<?= $this->Form->end() ?>
<div><?= $this->Html->link(__('Register'), ['action' => 'register'], ['class' => 'button']) ?></div>