<h1>Register</h1>
<?= $this->Form->create($user) ?>
<?=$this->Form->control('email');?>
<?=$this->Form->control('password');?>
<?= $this->Form->button(__('Register')) ?>
<?= $this->Form->end() ?>

<div><?= $this->Html->link(__('Login'), ['action' => 'login'], ['class' => 'button']) ?></div>